<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SisLab</display-name>
	
	


	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<context-param>
		<param-name>javax.faces.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>spark-blue</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.SPARK_LAYOUT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>serverName</param-name>
		<param-value>https://pruebas.epn.edu.ec</param-value>
	</context-param>
	<context-param>
		<param-name>urlAplicacion</param-name>
		<param-value>https://pruebas.epn.edu.ec/SisLab</param-value>
	</context-param>
	<context-param>
		<param-name>urlLogout</param-name>
		<param-value>https://pruebas.epn.edu.ec/cas/logout</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<context-param>
		<param-name>org.primefaces.extensions.WRAP_PRIME_FACES_RESOURCES</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.primefaces.extensions.DELIVER_UNCOMPRESSED_RESOURCES</param-name>
		<param-value>false</param-value>
	</context-param>
	<filter>
		<filter-name>casAutentication</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>https://pruebas.epn.edu.ec/cas/login</param-value>
		</init-param>
		<init-param>
			<param-name>service</param-name>
			<param-value>https://pruebas.epn.edu.ec/SisLab/seguridad/seleccionRol.jsf</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>casValidation</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas10TicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>https://pruebas.epn.edu.ec/cas</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>epnAutorizacion</filter-name>
		<filter-class>ec.edu.epn.seguridad.filtro.FiltroAutorizacion</filter-class>
	</filter>
	<filter>
		<filter-name>epnAuditoria</filter-name>
		<filter-class>ec.edu.epn.seguridad.filtro.FiltroAuditoria</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>casAutentication</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>casValidation</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>epnAutorizacion</filter-name>
		<url-pattern>*.jsf</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>epnAuditoria</filter-name>
		<url-pattern>*.jsf</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<mime-mapping>
		<extension>png</extension>
		<mime-type>application/png</mime-type>
	</mime-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/seguridad/seleccionRol.jsf</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/pages/500.jsf</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/pages/404.jsf</location>
	</error-page>
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
		<init-param>
			<param-name>thresholdSize</param-name>
			<param-value>51200</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CerrarSesion</servlet-name>
		<servlet-class>ec.edu.epn.seguridad.servlet.CerrarSesion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CerrarSesion</servlet-name>
		<url-pattern>/seguridad/cerrarSesion</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>ttf</extension>
		<mime-type>application/x-font-ttf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/x-font-woff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff2</extension>
		<mime-type>application/x-font-woff2</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/x-font-eot</mime-type>
	</mime-mapping>
	<session-config>
		<session-timeout>480</session-timeout>
	</session-config>
</web-app>
